# Build & Distribution outputs
/dist/
/build/
*.exe
*.zip

# Python
__pycache__/
*.py[cod]

# Node / JavaScript
node_modules/
npm-debug.log*

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
mobile_app/build/
mobile_app/.dart_tool/

# IDE & OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
